html,body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 20px;
    color:#0f8CDF;
    margin-bottom: 10px;
}

i{
    font-size: 15px;
    cursor: pointer;
}

main,header{
    width: 300px;
    margin: 0 auto;
}
.tweet-input-area{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.profile-pic{
    width: 48px;
    border: 1px solid lightgray;
    border-radius: 50%;
}
header{
    padding-bottom: 20px;
}

button{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}


